# <center><i><span style="color:red;">TEORIA DEL BIG BANG</span></i> </center>

<center> <img src="https://www.elsoldemexico.com.mx/doble-via/ciencia/wgonni-big-bang.jpg/ALTERNATES/LANDSCAPE_1140/big-bang.jpg" width= "500"
height= "100" /></center>

La teoría del <i><span style="color:green;"> Big Bang</span></i>  es el modelo cosmológico predominante para los períodos conocidos más antiguos del universo y su posterior evolución a gran escala.Afirma que el universo estaba en un estado de muy alta densidad y temperatura y luego se expandió.Si las leyes conocidas de la física se extrapolan más allá del punto donde son válidas, encontramos una singularidad.<i><span style="color:red;"> Mediciones modernas datan este momento hace aproximadamente 13 800 millones de años, que sería por tanto la edad del universo. </span></i>Después de la expansión inicial, el universo se enfrió lo suficiente para permitir la formación de las partículas subatómicas y más tarde simples átomos. Nubes gigantes de estos elementos primordiales se unieron más tarde debido a la gravedad, para formar estrellas y galaxias.

### Expansión expresada en la ley de Hubble
De la observación de galaxias y cuásares lejanos se desprende la idea de que estos objetos experimentan un corrimiento hacia el rojo, lo que quiere decir que la luz que emiten se ha desplazado proporcionalmente hacia longitudes de onda más largas. Al representar estas velocidades recesionales frente a las distancias respecto a los objetos, se observa que guardan una relación lineal, conocida como ley de Hubble:

$$v = H*D$$

donde $v$ es la <i><span style="color:blue;">velocidad recesional</span></i>, $D$ es la <i><span style="color:blue;">distancia al objeto</span></i> y $H$ es la <i><span style="color:blue;">constante de Hubble</span></i>, que el satélite WMAP estimó en $71 ± 4 km/s/Mpc$.
Para acceder a mas informacion acerca del la ley de hubble hacer [click aqui](https://es.wikipedia.org/wiki/Ley_de_Hubble-Lema%C3%AEtre) 

### <span style="color:orange;">BIBLIOGRAFIA</span>

- [Big bang](https://www.enterarse.com/20200526_0001-el-big-bang-explicado-la-teoria-sobre-el-origen-de-todo)
- [Bigbangwiki](https://es.wikipedia.org/wiki/Big_Bang)

In [1]:
import pandas as pd   #importamos pandas como pd
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data',sep = ",", header = None)
wine

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [2]:

names = ["Clase", "Alcohol", "Malic acid", "Ash", "Alcalinity of ash","Magnesium", "Total phenols", "Flavanoids", "Nonflavanoid phenols", "Proanthocyanins","Color intensity", "Hue", "diluted wines", "Proline"]
wine.columns = names
wine

,Clase,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [6]:
clase = wine['Clase']     #guardamos la columna Clase
x=clase.value_counts()          #contamos  la frecuencia de los datos
frecuencia_calse_de_vinos=(x/len(clase))*100  #convertimos en frecuencia porcentual
frecuencia_calse_de_vinos     #Frecuencia porcentual la clase de vinos

2    39.887640
1    33.146067
3    26.966292
Name: Clase, dtype: float64

In [10]:
print(wine.sort_values(by='Alcohol', ascending=False)) # ordenamos de forma descendente segun la cantidad de alcohol que tiene cada vino

     Clase  Alcohol  Malic acid   Ash  Alcalinity of ash  Magnesium  \
8        1    14.83        1.64  2.17               14.0         97
13       1    14.75        1.73  2.39               11.4         91
6        1    14.39        1.87  2.45               14.6         96
46       1    14.38        3.59  2.28               16.0        102
14       1    14.38        1.87  2.38               12.0        102
..     ...      ...         ...   ...                ...        ...
121      2    11.56        2.05  3.23               28.5        119
110      2    11.46        3.74  1.82               19.5        107
120      2    11.45        2.40  2.42               20.0         96
113      2    11.41        0.74  2.50               21.0         88
115      2    11.03        1.51  2.20               21.5         85

     Total phenols  Flavanoids  Nonflavanoid phenols  Proanthocyanins  \
8             2.80        2.98                  0.29             1.98
13            3.10        3.69                  0.43             2.81
6             2.50        2.52                  0.30             1.98
46            3.25        3.17                  0.27             2.19
14            3.30        3.64                  0.29             2.96
..             ...         ...                   ...              ...
121           3.18        5.08                  0.47             1.87
110           3.18        2.58                  0.24             3.58
120           2.90        2.79                  0.32             1.83
113           2.48        2.01                  0.42             1.44
115           2.46        2.17                  0.52             2.01

     Color intensity   Hue  diluted wines  Proline
8               5.20  1.08           2.85     1045
13              5.40  1.25           2.73     1150
6               5.25  1.02           3.58     1290
46              4.90  1.04           3.44     1065
14              7.50  1.20           3.00     1547
..               ...   ...            ...      ...
121             6.00  0.93           3.69      465
110             2.90  0.75           2.81      562
120             3.25  0.80           3.39      625
113             3.08  1.10           2.31      434
115             1.90  1.71           2.87      407

[178 rows x 14 columns]

In [29]:
wine_alcohol = wine["Alcohol"]
wine_alcohol[wine_alcohol >= 14.5]#vinos que tienen cantidad de alcohol mayor o igual a 14.5

8     14.83
13    14.75
Name: Alcohol, dtype: float64